* {
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

/*Header*/
header {
    display: flex;
    justify-content: center;
}

img {
    padding-top: 42px;
    width: 268px;
}
/*End Header*/

/*Search Section*/
.search {
    margin-top: 15px;
}

.searchBar {
    height: 69px;
    background: #E7E7E7;
    border-radius: 5px;
    display: flex;
    padding-left: 20px;
}

.searchBar input {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.25;
    background: #E7E7E7;
    width: 96%;
    border: hidden;
    color: black;
}

.searchBar input:active {
    border-style: hidden;
}

button {
    background: #E7E7E7;
    border: none;
    padding: 0;
}

button i {
    color: black;
    font-size: x-large;
}

.categories {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.categories p {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
}

.categories i {
    color: #FFFFFF;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 3px;
    font-size: initial;
}

.categories button {
    color: #FFFFFF;
}

.ingredients {
    background: #3282F7;
    border-radius: 5px;
    height: 60px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /*display: inline-block;*/
}

.ingredients button {
    background: #3282F7;
}

.devices {
    background: #68D9A4;
    border-radius: 5px;
    height: 60px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.devices button {
    background: #68D9A4;
}

.utensils {
    background: #ED6454;
    border-radius: 5px;
    height: 60px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.utensils button {
    background: #ED6454;
}

.dropdown {
    font-family: Lato;
    display: none;
    position: absolute;
    background: #3282F7;
    min-width: 230px;
    overflow: auto;
    z-index: 1;
}

.dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-radius: 5px;
    width: 150px;
    background: #3282F7;
    color: #FFFFFF;
    opacity: 0.5;
}

.show {
    display: block;
}

.dropbtn{
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*End Search Section*/

/*Recipes Section*/
.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.item-plats {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    width: 32%;
    margin-bottom: 25px;
}

.recipePic {
    background-color: #C7BEBE;
    height: 178px;
    border-radius: 5px 5px 0px 0px;
}

.details {
    background-color: #E7E7E7;
    padding: 15px;
    min-height: 210px;
    border-radius: 0 0 5px 5px;
}

.moreDetails {
    background-color: #E7E7E7;
    padding: 15px;
    display: flex;
}

.detail-top {
    display: flex;
}

.detail-top i {
    line-height: 20px;
    margin-right: 15px;
    margin-left: auto;
}

.detail-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

span {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
}

.amount {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.amount ul {
    padding: 0;
    margin: 0;
}

.amount li {
    list-style-type: none;
}

.making {
    background-color: #E7E7E7;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.making p {
    margin: 0;
}

@media only screen and (min-width : 1824px) {
    .container {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .item-plats {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        width: 30%;
        margin-bottom: 50px;
    }
}


